
* {
  box-sizing: border-box;
}
:root{
  --color-background: 237,241,245;
  --color-foreground: 250,250,250;
  --color-foreground-grey: 245,246,246;
  --color-foreground-grey-dark: 234,236,237;
  --color-foreground-blue: 246,248,251;
  --color-foreground-blue-dark: 241,243,247;
  --color-background-blue-dark: 31,35,45;
  --color-overlay: 31,38,49;
  --color-shadow: 49,54,68;
  --color-shadow-dark: 6,13,34;
  --color-shadow-blue: 103,132,187;
  --color-text: 92,114,138;
  --color-text-light: 122,133,143;
  --color-text-lighter: 146,153,161;
  --color-text-bright: 237,241,245;
  --color-blue: 61,180,242;
  --color-blue-dim: 141,178,219;
  --color-white: 255,255,255;
  --color-black: 0,0,0;
  --color-red: 232,93,117;
  --color-peach: 250,122,122;
  --color-orange: 247,154,99;
  --color-yellow: 247,191,99;
  --color-green: 123,213,85;
  --color-background-100: 251,251,251;
  --color-background-200: 237,241,245;
  --color-background-300: 221,230,238;
  --color-background-400: 201,215,227;
  --color-background-500: 173,192,210;
  --color-background-600: 139,160,178;
  --color-background-700: 116,136,153;
  --color-background-800: 100,115,128;
  --color-background-900: 81,97,112;
  --color-background-1000: 64,78,92;
  --color-background-1100: 38,52,63;
  --color-background-1200: 27,30,31;
  --color-gray-100: 251,251,251;
  --color-gray-200: 237,241,245;
  --color-gray-300: 221,230,238;
  --color-gray-400: 201,215,227;
  --color-gray-500: 173,192,210;
  --color-gray-600: 139,160,178;
  --color-gray-700: 116,136,153;
  --color-gray-800: 100,115,128;
  --color-gray-900: 81,97,112;
  --color-gray-1000: 64,78,92;
  --color-gray-1100: 38,52,63;
  --color-gray-1200: 27,30,31;
  --color-blue-100: 247,250,252;
  --color-blue-200: 236,246,254;
  --color-blue-300: 201,232,255;
  --color-blue-400: 143,215,255;
  --color-blue-500: 111,200,255;
  --color-blue-600: 61,180,242;
  --color-blue-700: 8,143,214;
  --color-blue-800: 12,101,166;
  --color-blue-900: 11,70,113;
  --color-blue-1000: 16,61,85;
  --color-green-100: 245,249,243;
  --color-green-200: 226,246,217;
  --color-green-300: 160,241,126;
  --color-green-400: 119,220,76;
  --color-green-500: 83,175,45;
  --color-green-600: 56,126,26;
  --color-green-700: 46,90,27;
  --color-green-800: 41,66,31;
  --color-red-100: 255,244,246;
  --color-red-200: 254,212,220;
  --color-red-300: 255,140,160;
  --color-red-400: 236,41,75;
  --color-red-500: 213,0,37;
  --color-red-600: 165,1,29;
  --color-red-700: 117,0,20;
  --media-text: hsl(215,81%,56%);
  --media-background: hsl(215,81%,56%);
  --media-background-text: hsl(202,73%,97%);
  --media-overlay-text: hsl(202,80%,70%);

}

.site-theme-dark {
  --color-background: 11,22,34;
  --color-foreground: 21,31,46;
  --color-foreground-grey: 15,22,31;
  --color-foreground-grey-dark: 6,12,19;
  --color-foreground-blue: 15,22,31;
  --color-foreground-blue-dark: 6,12,19;
  --color-text: 159,173,189;
  --color-text-light: 114,138,161;
  --color-text-lighter: 133,150,165;
  --color-shadow-blue: 0,5,15;
  --color-background-1200: 251,251,251;
  --color-background-1100: 240,243,246;
  --color-background-1000: 221,230,238;
  --color-background-900: 201,215,227;
  --color-background-800: 173,192,210;
  --color-background-700: 139,160,178;
  --color-background-600: 116,136,153;
  --color-background-500: 100,115,128;
  --color-background-400: 81,97,112;
  --color-background-300: 30,42,56;
  --color-background-100: 21,31,46;
  --color-background-200: 11,22,34;
  --color-gray-1200: 251,251,251;
  --color-gray-1100: 240,243,246;
  --color-gray-1000: 221,230,238;
  --color-gray-900: 201,215,227;
  --color-gray-800: 173,192,210;
  --color-gray-700: 139,160,178;
  --color-gray-600: 116,136,153;
  --color-gray-500: 100,115,128;
  --color-gray-400: 81,97,112;
  --color-gray-300: 30,42,56;
  --color-gray-100: 21,31,46;
  --color-gray-200: 11,22,34;
}
.user-page-unscoped.red {
  --color-blue: 225,51,51;
  --color-blue-dim: 255,136,136;
  --color-overlay: 32,20,20;
}

#app{
  background: rgb(var(--color-background));
}
html,body {
  color: rgb(var(--color-text));
  font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 10px;
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
input {
  font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.markdown {
  overflow-wrap: break-word;
  word-break: break-word;
}

#app {
  padding-top: 75px;
  overflow: hidden;
}

a:visited {
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  transition: .15s;
  outline: 0;
}

a:hover {
  text-decoration: none!important;
}

.page-content {
  min-height: 100vh;
}

.icon {
  color: rgb(var(--color-gray-500));
  font-size: 1.4rem;
  margin-top: -.05em;
}

h1, h2 {
  color: rgb(var(--color-text));
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.9rem;
  font-weight: 400;
}

.wrap {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
.results {
  display: grid;
  width: 100%;
  grid-gap: 28px 30px;
  grid-template-columns: repeat(auto-fill,185px);
  justify-content: space-between;
  z-index: 5;
  position: relative;
}

@media (max-width: 1540px){
  .results.cover  {
      grid-gap: 25px 20px;
  }
}
@media (max-width: 1065px){
  .results.cover {
      grid-gap: 25px 14px;
  }
}
@media (max-width: 1040px){
  .results.cover {
      padding: 0 20px;
      grid-template-columns: repeat(auto-fill,minmax(125px,1fr));
      grid-gap: 25px 20px;
      justify-content: center;
  }
  .results {
      padding: 0 20px;
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
      grid-template-columns: repeat(auto-fill,minmax(125px,1fr));
      grid-gap: 25px 20px;
      justify-content: center;
  }
}
@media (max-width: 760px){
  .results.cover {
      grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
      grid-gap: 25px 20px;
  }
}
@media (max-width: 450px){
  .results.cover {
      grid-template-columns: repeat(auto-fill,minmax(95px,1fr));
      grid-gap: 20px 12px;
      padding: 0 10px;
  }
}

 .nav a.nuxt-link-exact-active{
  color: rgb(var(--color-blue)) !important;
}
.container {
  margin: 0 auto;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  box-sizing: border-box;
}

.media-page-unscoped h2 {
  margin-bottom: 10px;
}

.preloaders {
  position: fixed !important;
  z-index: 999 !important;
}

.preloaders-overlay {
  backdrop-filter: blur(10px);
}

#app.transparent {
  padding-top: 0;
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

.user-page-unscoped h2 {
  margin-bottom: 10px;
}


.b-spoiler_block div {
  display: none;
}

.b-spoiler_block span{
  color: rgb(var(--color-blue));
  cursor: pointer;
  border-radius: 3px;
  font-size: 1.3rem;
  padding: 5px;
  display: block;
}

.b-spoiler_block.open div {
  border-radius: 3px;
  display: inline;
}
.b-spoiler_block.open  span {
  display: none;
}

.br-link{
  color: rgb(var(--color-blue));
  cursor: pointer;
  background: rgb(var(--color-background));
  border-radius: 3px;
}

@keyframes loading-pulse {
  0% {
      transform: translateX(-100%)
  }
  to {
      transform: translateX(50%)
  }
}




::-webkit-scrollbar { width: 4px; height: 4px;}

::-webkit-scrollbar-thumb { height: 50px; background-color: rgb(var(--color-gray-800)); border-radius: 3px;}

a.bubbled{
  color: rgb(var(--color-blue));
}
.comment img{
  max-width: 100%;
}

@media (min-width: 1540px) {
  .container {
    max-width: 1520px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 1040px) {
  #app {
    padding-top: 0 !important;
  }

}

@media (max-width: 1040px) and (min-width: 760px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-height: 920px) {
  #app {
    padding-top: 58px;
  }
}

@media (max-width: 760px) {
  html {
    line-height: 1.3;
  }
}
/*-------------Images-----------------*/

.background-color, .image-link, .image {
  height: 100%;
  left: 0;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity .3s ease-in-out;
  width: 100%;
}

.background-color, .image {
  height: 100%;
  left: 0;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity .3s ease-in-out;
  width: 100%;
}

.image.loaded {
  opacity: 1;
}

img {
  vertical-align: text-top;
}

[lazy="loaded"] {
  opacity: 1!important;
}
.smiley {
  vertical-align: middle;
  height: 32px;
}
/*----------------------------------*/
